// Misc.
$misc: (
    z-index-base:		90,
    max-features:		20,
    max-sidebar-links:	20
);

// Duration.
$duration: (
    transition:			0.2s,
    activation:			1s
);

// Size.
$size: (
    border-radius:		0.25em,
    border-width:		1px,
    element-height:		2.75em,
    element-margin:		2em,
    sidebar-width:		18em,
    sidebar-height:		3.5em,	// when <=large is active
    inner-width:		75em
);

// Font.
$font: (
    family:				(Arial, Helvetica, sans-serif),
    family-fixed:		('Courier New', monospace),
    weight:				normal,
    weight-bold:		bold,
    kerning-alt:		0.25em
);

// Palette.
{% set palette = site.params.palettes[site.params.palette].sass %}
$palette: (
    bg:					{{ palette.bg }},
    bg-alt:				darken({{ palette.bg }}, 5),
    fg:					rgba(255,255,255,0.55),
    fg-bold:			#ffffff,
    fg-light:			rgba(255,255,255,0.35),
    border:				rgba(255,255,255,0.15),
    border-bg:			rgba(255,255,255,0.05),
    accent1:			{{ palette.accent1 }},
    accent1-alt:		darken({{ palette.accent1 }}, 10),
    accent2:			{{ palette.accent2 }},
    accent2-alt:		darken({{ palette.accent2 }}, 10),
    accent3:			{{ palette.accent3 }},
    accent3-alt:		darken({{ palette.accent3 }}, 10)
);
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import 'font-awesome.min.css';

/*
	Hyperspace by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

// Breakpoints.

	@include breakpoints((
		xlarge:   ( 1281px,  1680px ),
		large:    ( 981px,   1280px ),
		medium:   ( 737px,   980px  ),
		small:    ( 481px,   736px  ),
		xsmall:   ( 361px,   480px  ),
		xxsmall:  ( null,    360px  )
	));

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/row';
	@import 'components/box';
	@import 'components/button';
	@import 'components/features';
	@import 'components/form';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/actions';
	@import 'components/contact';
	@import 'components/icons';
	@import 'components/menu';
	@import 'components/section';
	@import 'components/split';
	@import 'components/spotlights';
	@import 'components/table';
	@import 'components/wrapper';
	@import 'components/banner';
	
// Layout.

	@import 'layout/header';
	@import 'layout/wrapper';
	@import 'layout/footer';
	@import 'layout/sidebar';
	@import 'layout/intro';
	
// Stackbit Banner

	@import 'imports/banner';