@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';

/*
	Hyperspace by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* Spotlights */

	.spotlights {
		> section {
			> .image {
				&:before {
					opacity: 0 !important;
				}
			}

			> .content {
				> .inner {
					@include vendor('transform', 'none !important');
					opacity: 1 !important;
				}
			}
		}
	}

/* Wrapper */

	.wrapper {
		> .inner {
			opacity: 1 !important;
			@include vendor('transform', 'none !important');
		}
	}

/* Sidebar */

	#sidebar {
		> .inner {
			opacity: 1 !important;
		}

		nav {
			> ul {
				> li {
					@include vendor('transform', 'none !important');
					opacity: 1 !important;
				}
			}
		}
	}