///
/// Hyperspace by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Contact */

	ul.contact {
		list-style: none;
		padding: 0;

		> li {
			padding: 0;
			margin: 1.5em 0 0 0;

			&:first-child {
				margin-top: 0;
			}
		}
	}