/*
	Hyperspace by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* Spotlights */

	.spotlights > section > .image:before {
		opacity: 0 !important;
	}

	.spotlights > section > .content > .inner {
		-moz-transform: none !important;
		-webkit-transform: none !important;
		-ms-transform: none !important;
		transform: none !important;
		opacity: 1 !important;
	}

/* Wrapper */

	.wrapper > .inner {
		opacity: 1 !important;
		-moz-transform: none !important;
		-webkit-transform: none !important;
		-ms-transform: none !important;
		transform: none !important;
	}

/* Sidebar */

	#sidebar > .inner {
		opacity: 1 !important;
	}

	#sidebar nav > ul > li {
		-moz-transform: none !important;
		-webkit-transform: none !important;
		-ms-transform: none !important;
		transform: none !important;
		opacity: 1 !important;
	}