<!-- Footer -->
<footer id="footer" class="wrapper {% if page.template == "home" %}{{ site.data.footer.landing_style }}{% else %}{{ site.data.footer.alt_style }}{% endif %}">
    <div class="inner">
        <ul class="menu">
            <li>
                {{ site.data.footer.copyright | safe }}
                &nbsp;
                {% for link in site.data.footer.links %}
                    <a href="{{ link.url }}" {% if link.new_window %}target="_blank" rel="noopener"
                    {% endif %}>{{ link.text }}</a>.
                {% endfor %}
            </li>
        </ul>
    </div>
</footer>