<!-- Scripts -->
<script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.scrollex.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.scrolly.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/browser.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/breakpoints.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/util.js' | relative_url }}"></script>
<script src="{{ 'assets/js/init.js' | relative_url }}"></script>
<script src="{{ 'assets/js/page_load.js' | relative_url }}"></script>