<!-- One -->
<section id="{{ include_dict.section.section_id }}" class="wrapper {{ include_dict.section.background_style }} spotlights">
    {% for spotlight_page in getPages("/") | where("home_spotlights.enabled", true) | sort_array("home_spotlights.weight") %}
        <section>
            {% if spotlight_page.params.home_spotlights.home_img %}
                <a href="{{ spotlight_page.url | relative_url }}" class="image"><img src="{{ spotlight_page.params.home_spotlights.home_img.path | relative_url }}" alt="" data-position="{{ spotlight_page.params.home_spotlights.home_img.data_position }}" /></a>
            {% endif %}
            <div class="content">
                <div class="inner">
                    <h2>{{ spotlight_page.title }}</h2>
                    {{ spotlight_page.params.home_spotlights.excerpt | markdownify }}
                    <ul class="actions">
                        <li><a href="{{ spotlight_page.url | relative_url }}" class="button">Learn more</a></li>
                    </ul>
                </div>
            </div>
        </section>
    {% endfor %}
</section>