@import url("css/theme.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
* {
    font-family: "Source Sans Pro", sans-serif;
}

.wy-nav-content {
    max-width: none;
    background-color: #F5F8FF;
}

.wy-side-nav-search {
    background-color: #FFF;
}

.wy-side-nav-search input[type="text"] {
    border-color: #333;
}

.wy-nav-side {
    background-color: #FFF;
}

.wy-menu-vertical a {
    color: #000;
}

.wy-menu-vertical a:visited {
    color: #000;
}

.wy-menu-vertical a:hover {
    color: #FFF;
}

.wy-menu-vertical a:active {
    background-color: #6c698d;
}

.wy-menu-vertical a:hover {
    background-color: #a3a1ba;
}

a {
    color: #8c86cf;
}

a.icon {
    color: #000;
}

a:visited {
    color: #6c698d;
}