{% extends "body.html" %}

{% block content %}

    <!-- Wrapper -->
    <div id="wrapper">
        
        <!-- Main -->
        <section id="main" class="wrapper">
            <div class="inner">
                <h1 class="major">{{ page.title }}</h1>
                {% if page.params.content_img_path %}
                    <span class="image fit"><img src="{{ page.params.content_img_path | relative_url }}" alt="" /></span>
                {% endif %}
                {{ page.content }}
            </div>
        </section>
        
    </div>

{% endblock %}